.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  padding: 0px 144px;
  padding-bottom: 72px;
  margin-top: 72px;
  box-sizing: border-box;

  width: 100%;
  min-height: 288px;
  height: fit-content;

  text-align: center;

  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 66%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 66%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 66%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

@media (max-width: 1020px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 144px 24px;
    padding-bottom: 24px;
  }

  .footer-container > a {
    padding: 12px 0px;
  }

  .gold {
    padding: 24px;
  }
}
