.menu,
.menu-button {
  display: none;
}

.mobile-nav-container {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.web-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 72px;
  padding: 0px 16px;
  margin: 0px;
  box-sizing: border-box;

  /* position: fixed;
  z-index: 100; */

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #111b33;
}

@font-face {
  font-family: "Boycott";
  font-style: normal;
  font-weight: 400;
  src: local("Boycott"), local("BOYCOTT"),
    url("../assets/BOYCOTT.ttf") format("truetype");
}

.logo-container {
  min-width: 200px;
  cursor: pointer;
}
.logo {
  padding: 0px;
  margin: 0px;
  font-size: 2rem;
  color: #fffdf4;
  font-family: "Boycott" !important;
}

.logo:hover {
  color: rgb(255, 127, 127);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.nav-link {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fffdf4;
}

.nav-link:hover {
  color: rgb(255, 127, 127);
}

.active {
  color: #ffe870;
}

.menu-bar-icon{
  fill-rule: white;
  width: 24px;
  height:auto;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* top: 72px; */
  background-color: #0c5261;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
  color: #0c5261;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hash{
  padding-left: 24px !important;
}

@media (max-width: 1020px) {
  .links {
    display: none;
  }
  .menu {
    flex-direction: column;

    font-size: 1.25rem;

    background: #0c5261;

    padding: 16px 0px;
    box-sizing: border-box;
  }

  .nav-link {
    padding: 12px;
  }

  .menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    top: 0;

    height: 72px;
    padding: 16px 24px;
    box-sizing: border-box;

    background: #0c5261;

    font-size: 2rem;

    cursor: pointer;
  }

  .mobile-nav-container {
    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 100;

    width: 100%;
  }
}

@media (min-width: 1020px) {
  .menu,
  .menu-button {
    display: none !important;
  }
}
