.section-container {
  max-width: 560px;
  width: 100%;

  margin-bottom: 48px;
}

.no-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container > h1,
.section-container > h2 {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.section-container > h1 {
  color: #ffe870;
}

.section-container > h3 {
  margin-bottom: 4px;
  margin-top: 24px;
}
.section-container > h4 {
  font-weight: 400;
  color: #ffe870;
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-container > p {
  max-width: 480px;
  margin: 16px 0px;
  box-sizing: border-box;
}

a {
  color: #ffe870;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 127, 127);
  text-decoration: none;
}

@media (max-width: 600px) {
  .section-container {
    display: flex;
    flex-direction: column;
  }
  .section-container > img {
    align-self: center;
  }
}
