.web-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 72px;
  padding: 0px 16px;
  margin: 0px;
  box-sizing: border-box;

  position: fixed;
  z-index: 100;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #111b33;
}

@font-face {
  font-family: "Boycott";
  font-style: normal;
  font-weight: 400;
  src: local("Boycott"), local("BOYCOTT"),
    url("../assets/BOYCOTT.ttf") format("truetype");
}

.logo-container {
  min-width: 200px;
  cursor: pointer;
}
.logo {
  padding: 0px;
  margin: 0px;
  font-size: 2rem;
  color: #fffdf4;
  font-family: "Boycott" !important;
}

.logo:hover {
  color: rgb(255, 127, 127);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.nav-link {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fffdf4;
}

.nav-link:hover {
  color: rgb(255, 127, 127);
}

.active {
  color: #ffe870;
}
