.grow-image {
  position: absolute;
  top: 0;
  height: 90vh;
  display: none;
}

.poster {
  max-width: 480px;
  width: 100%;

  /* margin-bottom: 40px; */
  box-sizing: border-box;

  cursor: pointer;
}



.home-page {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;

  width: 100%;
}

.chuck {
  cursor: inherit !important;
  max-width: 240px;
}

@media (min-width: 1020px) {
  /* .poster {
    margin: 16px 40px;
  } */

  #mobile-chuck {
    display: none;
  }

  .side{
    max-width: 240px;
    padding-right: 24px;
  }
}

@media (max-width: 1020px) {
  .home-page {
    flex-direction: column !important;
    align-items: center;
  }

  .side {
    display: flex;
    align-items: center;
  }

  #web-chuck {
    display: none;
  }

  #mobile-chuck {
    display: block;
  }
}
