.poster {
  max-width: 100%;
  width: 480px;
  height: auto;
  pointer-events: none;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.paragraph {
  width: 100%;
  margin: 16px 0px;
  box-sizing: border-box;
}

a {
  color: aquamarine;
  text-decoration: none;
}
