.layout {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 72px auto;
  justify-items: center;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: fit-content;

  padding-top: 72px;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 960px;
  width: 100%;
  min-height: 80vh;
  height: fit-content;

  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: none;
  box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.25);

  padding: 24px;
  padding-bottom: 48px;
  margin: 0px 12px;
  box-sizing: border-box;
}
